<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nfc.activities"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.NFC"/>
    <application android:label="hiFive" android:icon="@drawable/hifive" android:debuggable="true">
        <activity android:name=".ActivityChooser">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".TagReadActivity"
                  android:label="Read Data" android:icon="@drawable/read_data">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".TagWriteActivity" android:label="Write Data" android:icon="@drawable/write_data">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".DemoDataInputActivity" android:label="Data Input Demo"/>
        <activity android:name=".SaveDataActivity" android:label="Save Data" android:icon="@drawable/save_data">
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="10"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
</manifest>
